{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %}
<div class="container-fluid px-0 mb-3">

<img src="https://source.unsplash.com/1600x600/?about" class="d-block w-100 " alt="...">
</div>

<div class="container mb-3">
<h1 class="text-center">About Us</h1>

<h2>How Pizza Started</h2>
<p>World's first pizzeria opened in 1948, Pizzeria Napoletana in Montreal. Starting in the late 1950s, the first pizza ovens started entering
 the country.[34] It gained popularity throughout the 1960s, with many pizzerias and restaurants opening across the country. Pizza was mostly
  served in restaurants and small pizzerias. Most pizza restaurants across Canada also serve popular Italian cuisine in addition to pizza, such
   as pasta, salad, soups and sandwiches. Fast-food pizza chains also provide other side options for customers to choose from, in addition to
    ordering pizza, including chicken wings, fries and poutine, salad, and calzones. Pizza Pops are a Canadian calzone-type snack introduced in
     the 1960s. Pizza chains across Canada can be found in shopping centres, schools, and neighbourhood plazas, with the majority of these
      chains offering a sit-and-dine facility for customers.</p>
</div>
{% endblock body %}