{% extends 'base.html' %}

{% block title %}Services{% endblock title %}

{% block body %}
<div class="container-fluid px-0 mb-3">

<img src="https://source.unsplash.com/1600x600/?services" class="d-block w-100 " alt="...">
</div>

<div class="container mb-3">
<h1 class="text-center">Services</h1>



<p>
  <a class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Veg Overloaded Pizza</a>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Non-Veg Overloaded Pizza</button>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Family Overloaded Pizza</button>
</p>
<div class="row">
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample1">
      <div class="card card-body">
        Some placeholder content for the first collapse component of this multi-collapse example. This panel is hidden by default but revealed when the user activates the relevant trigger.
      </div>
    </div>
  </div>
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample2">
      <div class="card card-body">
        Some placeholder content for the second collapse component of this multi-collapse example. This panel is hidden by default but revealed when the user activates the relevant trigger.
      </div>
    </div>
  </div>
</div>

<div class="w-25 p-3" style="background-color: #eee;">India 35%</div>
<div class="w-50 p-3" style="background-color: #eee;">Canada 50%</div>
<div class="w-75 p-3" style="background-color: #eee;">America 75%</div>
<div class="w-100 p-3" style="background-color: #eee;">United Kingdom 100%</div>

<div class='container-fluid mx-auto mt-5 mb-5 col-12' style="text-align: center">
    <div class="hd">Why People Believe in Us</div>
    <p><small class="text-muted">Always render more and better service than <br />is expected of you, no matter what your ask may be.</small></p>
    <div class="row" style="justify-content: center">
        <div class="card col-md-3 col-12">
            <div class="card-content">
                <div class="card-body"> <img class="img" src="https://i.imgur.com/S7FJza5.png" />
                    <div class="shadow"></div>
                    <div class="card-title"> We deliver free pizza's </div>
                    <div class="card-subtitle">
                        <p> <small class="text-muted">We spent thousands of hours to deliver the food, as our customers needs to be happy so we can deliver free.</small> </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-md-3 col-12 ml-2">
            <div class="card-content">
                <div class="card-body"> <img class="img" src="https://i.imgur.com/xUWJuHB.png" />
                    <div class="card-title"> We're Unbiased from our customers</div>
                    <div class="card-subtitle">
                        <p> <small class="text-muted"> We don't accept ads from anyone. And we treated all customers politely and equally because customers is everything to us.</small> </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-md-3 col-12 ml-2">
            <div class="card-content">
                <div class="card-body"> <img class="img rck" src="https://i.imgur.com/rG3CGn3.png" />
                    <div class="card-title"> Our Pizza will follow you everywhere </div>
                    <div class="card-subtitle">
                        <p> <small class="text-muted">We have the major branches in many of the cities so whereever you go we follow.</small> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ft">
        <p class="chk"><small class="text-muted">Still not sure?</small></p>
        <div class="btn btn-primary">Read All Testimonials</div>
    </div>
</div>

</div>
{% endblock body %}